/**************************TAG SELECTORS*******************/

body {
    background-color: #e4e3e3;      
}


 .role{

    text-align: center;
    font-style: blood, gothic, inherit;
    font-size: 30px;
    
     margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 150px;
  margin-left: 80px;
}


header{

	 text-align: center;
	color: #679b9b;
	text-align: center;
	color: #679b9b;
	margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
  font-size: 50px
	}


img{

    width: 300px;
    height: 300px;
    margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;

}